.speech {
  font-size: 1em;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: black;
}

.stage-direction {
  font-size: 1.1em;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: black;
}

.name {
  font-size: 1.2em;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: black;
}
.name:hover{
  background-color: lightpink;
    width: fit-content;
    height: fit-content;
    filter: blur(0.08em);
}
.stage-direction:hover{
    background-color: lightgoldenrodyellow;
    color: gray;
    width: fit-content;
    height: fit-content;
}
.vera {
  color: blueviolet;
}
.peter {
  color: green;
}
.mich {
  color: rgb(199, 135, 15);
}

table, th, tr{
  border: 0.1em solid black;
  border-spacing: 0.1em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  width: fit-content;
  height: fit-content;
}
.table-content-title{
  font-size: 2em;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: black;
  margin-left: 2em;
  margin-right: 2em;
}
.table-content-stuff{
  font-size: 1.5em;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: rgb(70, 62, 62);
  margin-left: 2em;
  margin-right: 2em;
}

#footer{
  text-align: center;
  font-size: 3em;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
.home{
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 5em;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}