.speech {
  font-size: 1em;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: black;
}

.stage-direction {
  font-size: 1.1em;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: black;
}

.name {
  font-size: 1.2em;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: black;
}
.hover{
    background-color: lightgoldenrodyellow;
    color: gray;
}
.vera {
  color: blueviolet;
}
.peter {
  color: green;
}
.mich {
  color: rgb(199, 135, 15);
}
